# Домашняя работа к лекции «Библиотека Pandas»

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
movies = pd.read_csv('movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [19]:
top_star = ratings['rating'].max()
top_star_rating = ratings.query('rating == 5.0'.format(top_star))
joined = top_star_rating.merge(movies, on='movieId', how='left')
print('НАИБОЛЬШЕЕ КОЛИЧЕСТВО ОЦЕНОК "5.0" БЫЛО ВЫСТАВЛЕНО ФИЛЬМУ: ', joined['title'].value_counts().head(1))

НАИБОЛЬШЕЕ КОЛИЧЕСТВО ОЦЕНОК "5.0" БЫЛО ВЫСТАВЛЕНО ФИЛЬМУ:  Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

In [15]:
joined

,userId,movieId,rating,timestamp,title,genres
0,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
1,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
2,1,101,5.0,964980868,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
3,1,151,5.0,964984041,Rob Roy (1995),Action|Drama|Romance|War
4,1,157,5.0,964984100,Canadian Bacon (1995),Comedy|War
...,...,...,...,...,...,...
13206,610,158238,5.0,1479545219,The Nice Guys (2016),Crime|Mystery|Thriller
13207,610,164179,5.0,1493845631,Arrival (2016),Sci-Fi
13208,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
13209,610,168250,5.0,1494273047,Get Out (2017),Horror
13210,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi

In [20]:
joined['title'].value_counts().head()

Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: title, dtype: int64

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
power = pd.read_csv('power.csv')
power

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [6]:
pribaltica_power = power[ ((power['country']=='Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia')) &\
                          ((power['category']==4) | (power['category']==12) | (power['category']==21)) &\
                          ((power['year']>=2005) & (power['year']<=2010)) & (power['quantity']>0) ]
print('Суммарное потребление стран Прибалтики категорий 4, 12 и 21 за период с 2005 по 2010 года составило: ',\
      pribaltica_power['quantity'].sum())

Суммарное потребление стран Прибалтики категорий 4, 12 и 21 за период с 2005 по 2010 года составило:  240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
# Котировки акций российских компаний
pd.read_html('https://fortrader.org/quotes')[3]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.045910,-0.004165,-8.317524,NaN
1,Газпром Акции газпрома,258.04,8.490000,3.400000,NaN
2,Лукойл Акции Лукойл,5 750.5,-299.500000,-5.000000,NaN
3,Роснефть Акции Роснефти,520.30,-25.350000,-4.650000,NaN
4,Сбербанк Акции Сбербанка,298.02,-6.080000,-2.000000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,35.885,0.215000,0.603000,NaN
6,Норникель Акции Норникель,27 204,-186.000000,-1.000000,NaN
7,Аэрофлот Акции Аерофлота,70.38,3.060000,4.550000,NaN
8,Северсталь Акции Северсталь,1 794.20,14.200000,0.800000,NaN
9,Транснефть Акции Транснефть,140 050,650.000000,0.000000,NaN
10,Ростелеком Курс акций ростелекома,102.99,-0.140000,-0.140000,NaN
11,РУСАЛ Акции РУСАЛ (RUAL),56.480,-0.535000,-0.938000,NaN
12,Детский мир iDreamSky Technology Limited,149.04,-1.960000,-1.300000,NaN
13,Петропавловск Акции Петропавловск,25.24,-0.020000,-0.080000,NaN
14,Алроса Акции АЛРОСА (ALRS),114.150,0.150000,0.132000,NaN
15,Магнит Акции Магнит (MGNT),5 198.0,42.500000,0.800000,NaN
16,НМЛК Акции НЛМК (NLMK),271.120,2.520000,0.938000,NaN
17,М.видео Акции М.видео (MVID),638.40,-57.600000,-8.280000,NaN
18,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",368.85,-3.000000,-0.810000,NaN
19,НМТП Акции НМТП (NMTP),7.6850,0.125000,1.653400,NaN
20,Полиметалл Акции Полиметалл (POLY),1 791.30,117.900000,7.050000,NaN
21,Полюс Золото Акции Полюс Золото (PLZL),15 705.0,735.000000,4.900000,NaN
22,НОВАТЭК Акции НОВАТЭК (NVTK),1 396.60,23.400000,1.700000,NaN
23,РусГидро Акции РусГидро (HYDR),0.8216,-0.010700,-1.285600,NaN
24,Татнефть Акции Татнефть (TATN),484.40,-16.500000,-3.290000,NaN
25,"АФК Система Акции АФК ""Система"" (AFKS)",32.303,-0.057000,-0.176000,NaN
26,МТС Акции МТС,333.30,7.800000,2.400000,NaN
27,Башнефть Акции Башнефть (BANE),1 539.5,-16.500000,-1.100000,NaN
28,Яндекс Акции Яндекс (YNDX),4 709.6,22.600000,0.500000,NaN
29,X5 Retail Group Акции X5 Retail Group (FIVE),2 248.00,-97.000000,-4.140000,NaN
30,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.22742,0.003340,1.490540,NaN
31,Мечел Акции Мечел (MTLR),81.06,2.150000,2.720000,NaN
32,МосБиржа Акции МосБиржа (MOEX),168.72,-6.630000,-3.780000,NaN
33,Интер РАО Акции Интер РАО (IRAO),5.02,-0.060000,-1.100000,NaN
34,"Mail.ru Акции Mail.ru (MAIL, ДР)",1 508.00,-8.400000,-0.550000,NaN
35,Киви Акции Киви (QIWI),809.0,20.500000,2.600000,NaN
36,"Лента Акции Лента (LNTA, ДР)",241.00,7.400000,3.170000,NaN
37,"Тинькофф Акции Тинькофф (TCSG, др)",4 715.60,105.600000,2.290000,NaN
38,Озон Акции Озон (Ozon),4 048.00,-99.000000,-2.390000,NaN